* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 100px;
  margin-left: 25px;
}

header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .nav ul li {
  margin-right: 25px;
}

header .nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header .nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin-top: 123px;
 background: linear-gradient(to right, #4e54c8, #8f94fb);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#cart {
  width: 80%;
  margin: auto;
  text-align: center;
}

.cart-item {
  margin-bottom: 20px;
}

.cart-total {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

button {
  background-color: #021e3b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  height: 5vh;
  width: 100%;
  text-align: center;
  padding: 7px;
  background-color: rgb(176, 174, 174);
}
body{
  background-color: white;

}
.card-container
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;

}
.card{
width: 525px;
background-color: white;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0, 0,0, 0,0);
margin: 20px;
}